[submodule "Arduino-PID-Library"]
	path = Arduino-PID-Library
	url = git://github.com/br3ttb/Arduino-PID-Library
[submodule "LinkedList"]
	path = LinkedList
	url = https://github.com/ivanseidel/LinkedList
